@import "_app";

.builder-choice {
  @include flexProp($just: space-evenly);
  height: 2.2rem;
  width: 8.5rem;
  border-radius: 0px 8px 8px 0px;
  background: #ff7724;
  font-size: $font-size2;
  color: $color-white;
  position: relative;
  top: 2.25rem;
  right: 0.2rem;
  margin-top: 0;
  z-index: 5;

  img {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.buid-1 {
  @include flexProp($just: space-between);
}

.builder-container {
  background: $color-white;
  height: 42vh;
  margin: 3vh 0;
  padding: 0 3vw;
  border-radius: 12px;

  .img {
    @include flexProp($dir: column, $just: space-around);

    img {
      height: 15vh;
      width: 10vw;
    }

    .builder-number {
      @include flexProp;
      border: 1px solid $color-bg2;
      background: $color-white;
      height: 2.75rem;
      width: 2.75rem;
      border-radius: 50%;
      font-size: $font-size4;
      position: relative;
      right: 6.6rem;
      margin: 0;
    }
  }

  .builder-content {
    @include flexProp($dir: column, $align: flex-start);
    font-size: $font-size2;
    width: 36vw;

    p {
      line-height: 1.5rem;
      font-weight: 400;
    }

    .side-p {
      padding-left: 1rem;
    }

    span {
      font-weight: 700;
    }

    h5 {
      margin: 0;
      font-size: 1rem;
    }

    .more {
      color: $color-btn;
      cursor: $cursor;

      img {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  .rating-content {
    @include flexProp($dir: column, $just: space-between);
    height: 42vh;
    font-weight: 400;

    .rating-count {
      @include flexProp($dir: column);
      background: $color-content;
      border-radius: 0px 0px 12px 12px;
      height: 7.5rem;
      width: 8.5rem;
      padding: 0;
      margin-bottom: 0;

      p {
        padding: 0;
        margin: 0.25rem 0;
        font-size: $font-size1;
      }

      img {
        height: 0.63rem;
        position: relative;
        left: 1.7rem;
      }

      .rating {
        font-size: 2rem;
      }

      :last-child {
        height: 0.7rem;
        width: 4.3rem;
        position: static;
        margin: 0.25rem 0.5rem;
      }
    }

    .view {
      @extend buttonProp;
      height: 7.5vh;
      width: 17vw;
      margin-bottom: 3vh;
      border-radius: 12px;
      font-size: $font-size2;
    }
  }
}
