@import "_app";

.footer-container {
  @include flexProp;
  background: $color-menu;
  padding: 0vh 15vw;
  color: $color-txt3;
  height: 70vh;
//   border: 1px solid green;
  font-size: $font-size2;
  font-weight: 400;
  line-height: 20px;

  .content {
    @include flexProp($dir: column,$align:flex-start);
    margin: 0 2vw;
    padding-bottom: 10vh;
    height: 50vh;
    width: 20vw;
    // border: 1px solid yellow;
    margin-right: 5vw;
  }
  .footer-p {
    font-size: $font-size1;
  }
  .side-menu{
      @include flexProp($dir:row); 
      img{
        width: 1rem;
      }
  }
}
