@import "_app";

.footer-container {
  @include flexProp($just: space-between);
  background: $color-menu;
  padding: 0vh 10vw;
  color: $color-txt3;
  height: 70vh;
  font-size: $font-size2;
  font-weight: 400;
  line-height: 20px;

  .content {
    @include flexProp($dir: column, $align: flex-start);
    margin: 0 2vw;
    padding-bottom: 10vh;
    height: 50vh;
    width: 20vw;
  }

  .footer-p {
    font-size: $font-size1;
    cursor: $cursor;
  }

  .side-menu {
    @include flexProp($dir: row);
    padding-right: 5vw;

    img {
      width: 1rem;
      margin-left: 0.5rem;
    }
  }
}
