@import "_app";

.main-container {
  background-color: $color-bg;
  padding: 0 10vw;
  .item-content {
    @include flexProp;
    margin: 2vh 1vw;
  }
  .signup {
    @include flexProp;
    font-size: 3rem;
    font-weight: 400;
    .signup-input {
      @include flexProp;
      height: 3.25rem;
      > input {
        height: 3.25rem;
        width: 25vw;
        border-radius:12px 12px;
      }
    }
    button{
        @extend buttonProp;
        width: 4vw;
        height: 3.25rem;
        border-radius:0, 12px, 12px, 0px;
        // position: relative;
        // right: 4vw;
    }
  }
}
